.landingContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroTitle{
    font-weight: 400;
    padding-left: 30px;
}

.section {
    margin: 40px 0;
 }