.filterContainer {
    width: 250px;
    padding: 1rem 3rem;
  }
  
  .section {
    margin-bottom: 1.5rem;
  }
  
  .title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .toggleButton {
    width: 100%;
    background: none;
    border: none;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
  }
  
  .list {
    list-style: none;
    padding-left: 1rem;
    margin-top: 0.5rem;
    line-height: 1.4rem;
    font-weight: normal;
  }
  
  .listItem {
    margin-bottom: 0.3rem;
    cursor: pointer;
  }
  
  .talleContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .talleBox {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 0.5rem;
  }
  
  .talleButton {
    width: 35px;
    height: 35px;
    background-color: #f0f0f0;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .talleButton:hover {
    background-color: #ddd;
  }

  .checkboxLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
  
  .checkbox {
    width: 18px;
    height: 18px;
    accent-color: black;
  }
  