.filterContainer {
    width: 250px;
    padding: 1rem 1.2rem;
    height: 63vh;
    overflow-y: auto;
    scrollbar-gutter: stable;

  }
  
  .section {
    margin-bottom: 1.5rem;
  }
  
  .title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .toggleButton {
    width: 100%;
    background: none;
    border: none;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
  }
  
  .list {
    list-style: none;
    padding-left: 1rem;
    margin-top: 0.5rem;
    line-height: 1.4rem;
    font-weight: normal;
  }
  
  .listItem {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.active {
  background-color: #000000;
  color: white;
}
  
  .talleGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.talleBox {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.75rem;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.talleBox:hover {
  background-color: #f0f0f0;
  border-color: #999;
}

.talleBoxActive {
  border-color: black;
  background-color: #f6f6f6; 
}

  .checkboxLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
  
  .checkbox {
    width: 18px;
    height: 18px;
    accent-color: black;
  }

.dropdownContent {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  filter: blur(1px);
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease,
    filter 0.5s ease;
}

.dropdownOpen {
  max-height: 500px;
  opacity: 1;
  filter: blur(0);
}