.productDetailContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail{
    display: flex;
    padding: 40px 20px;
    align-items: center;
}

.productImage{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 25px;
}

.img{
    width: 60%;
}

.table{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.section1{
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 1.8rem;
    font-size: 1.3rem;
}

.section1 h5{
  font-weight: 500;
}

.section2 h2{
  font-size: 1.4rem;
  font-weight: 500;
}

.talleGrid {
  max-width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 5px;
}
  .talleItem {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }

  .talleItem:hover {
    border-color: #000;
  }

  .selected {
    border: 1px solid #000;
  }

  .cantidadContainer {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .cantidadLabel {
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  .cantidadControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }
  
  .cantidadValue {
    font-size: 1.2rem;
    margin: 0 1rem;
    font-weight: bold;
    min-width: 2rem;
    text-align: center;
  }
  
  .similares h2{
    margin-left: 100px;
    font-size:x-large;
}

.section3{
  display: flex;
  justify-content: center;
}

.section4{
  display: flex;
  justify-content: center;
}

.talleItem {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.2s;
}

.selected {
  background-color: #333;
  color: white;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}

.cantidadInput {
  width: 80px;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}