.AdminContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    margin-left: 50px;
}

.section{
    margin: 40px 0;
}

.stickyHeader {
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: #ffff;
}