.AdminContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    margin-left: 50px;
}

.section{
    margin: 40px 0;
}