.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px; 
    margin-bottom: 20px;
    padding: 0px 20px;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .pagination button {
    padding: 8px 12px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 16px;
    color: #333;
  }
  