.shoppingCartContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tableProducts {
    min-height: 90vh;
    flex: 1;
    display: flex;
    padding: 0 70px;
}

.leftSection {
    flex: 7;
}

.rightSection {
    flex: 3;

}


