.shoppingCartContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tableProducts {
    display: flex;
    width: 100%;
    padding: 0 70px;
}

.leftSection {
    flex: 7;
}

.rightSection {
    flex: 3;
}


