.hero {
    text-align: center;
    padding: 40px 0px;
  }
  
  .heroImage {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 48px;
    font-weight: 700;
    margin: 20px 0;
  }
  
  .subtitle {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  