.card {
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    height: 100%;
    flex-direction: column; 
    cursor: pointer;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  
.content {
    padding: 16px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%;
    line-height: 30px;
  }
  
  .productName {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px 0;
    color: #000000;
  }

  .productGender{
    font-size: 17px;
    font-weight: 300;
  }
  
  .productPrice {
    font-size: 16px;
    color: #666;
    font-weight: 500;
    margin-top: auto; 

  }
  
  .small {
    width: 248px;
    height: 380px;
  }
  
  .large {
    width: 348px;
    height: 533px;
  }
  