.container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .imageWrapper {
    position: relative;
    width: 30%;
  }
  
  .logo {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }
  
  .customButtonWrapper {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }  

  .whiteButton {
    background-color: white;
    color: black;
  }

  .whiteButton:hover{
    background-color: #d4d4d4;
  }