.catalogContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 .stickyNav {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .catalogItems{
    margin-bottom: 3rem;
  }

.barItem{
  background-color: #ffff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    position: sticky;
    top: 57px;
    z-index: 1000;
}

.barfilter{
  display: flex;
  gap: 15px;
  
}

.barItem h2{
    font-size: 1.7rem;
}

.barItem button{
    border: none;
    font-size: 1.2rem;
    background-color: #ffff;
    cursor: pointer;
}

.filtersAndGrid {
  display: flex;
  gap: 10px;
  position: relative;
  transition: all 0.5s ease;
}

.filterPanel {
  flex: 0 0 18%;
  max-width: 18%;
  transition: all 0.5s ease;
  opacity: 1;
  position: sticky;
  top: 120px;
  align-self: flex-start;
}

.hideFilter {
  flex: 0 0 0%;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
}

.gridPanel {
  flex: 1;
  transition: all 0.5s ease;
}

.fullWidthGrid {
  margin: 0 auto;
  max-width: 85%;
}

  .searchWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

    .searchIcon {
    position: absolute;
    left: 10px;
    color: #CCCCCC;
    pointer-events: none;

  }
  
  .searchInput {
    padding: 8px 12px 8px 32px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 15px;
    color: #CCCCCC;
    font-size: 14px;
    outline: none;
    width: 180px;
    transition: width 0.3s ease-in-out;
  }
  
  .searchInput:focus {
    width: 250px;
  }
  
  .searchInput::placeholder {
    color: #CCCCCC;
    font-weight: 600;
  }
