.catalogContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barItem{
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
}

.barItem h2{
    font-size: 1.7rem;
}

.barItem button{
    border: none;
    font-size: 1.2rem;
    background-color: #ffff;
    cursor: pointer;
}

.filtersAndGrid {
  display: flex;
  gap: 10px;
  position: relative;
  transition: all 0.5s ease;
}

.filterPanel {
  flex: 0 0 18%;
  max-width: 18%;
  transition: all 0.5s ease;
  opacity: 1;
}

.hideFilter {
  flex: 0 0 0%;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
}

.gridPanel {
  flex: 1;
  transition: all 0.5s ease;
}

.fullWidthGrid {
  margin: 0 auto;
  max-width: 85%;
}

