* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #111;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  .Toastify__toast-container--top-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: fit-content; 
  max-width: 90vw; 
}

.Toastify__toast-container {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: auto !important;
  max-width: 400px;
  pointer-events: auto;
  z-index: 9999;
}